%h1 New Task!

=form_for(@task) do |f|
  -if @task.errors.any?
    #error_explanation
      %h2 There were errors.

    %ul
      -@task.errors.full_messages.each do |msg|
        %li #{msg}

  .field
    =f.label :title
    =f.text_field :title
      
  .actions
    =f.submit
