%table.table.table-striped.table-bordered
  %tr
    %th Task Name
  -@tasks.each do |task|
    %tr
      %td
        = link_to task.title, task
      %td
        = link_to "Edit", edit_task_path(task)

%p
=link_to "New Task", new_task_path
